
html {height:100%;}
#bodyInnerDiv {
	display: flex; flex-direction: column; height: 100%;
}

nav.top-bar { flex-grow: 0; flex-shrink: 0; }
nav.top-bar .left { width: 230px; border-right: 1px solid #666; }

#mainContainer {
	display: flex; flex-grow: 1;
}

#conversationListView {
	background: #eee; border-right: 1px solid #999; width: 230px; overflow-x: hidden;
	overflow-y: auto;
}
#conversationList {
	
}

#conversationList a {
	display: block; border-bottom: 1px solid white; background-color: #eee;
	font-size: 11pt; padding: 4px 12px; color: #333;
}
#conversationList a.unread {
  background-color: #ffe; font-weight: bold;
}
#conversationList a:hover {
	background-color: #dfdfff;
}
#conversationList a.current {
  background-color: #0078a0; color: white;
}
#conversationList a.current small { color: white; }
#conversationList a small {
	display: block; font-size: 9pt; font-weight: normal; color: #777;
}



.f-advanced-btn a { color: #555; font-size: 10pt; }
.f-advanced-btn { padding-bottom: 10px; }



